@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.sponsors {
  &__button-with-heart {
    position: relative;
    padding-left: 64px;

    &::before {
      position: absolute;
      top: 20px;
      left: 80px;
      width: 16px;
      height: 16px;
      background-image: url('../icons/heart.svg');
      content: '';

      @include m.breakpoint(v.$tablet-sm-exact) {
        left: 32px;
      }
    }
  }
}
