@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.linked-card-block {
  padding-block: 80px;

  &--large {
    @include m.breakpoint(v.$desktop-sm) {
      padding-block: 200px;
    }
  }

  .title-block__title {
    max-width: 792px;
  }

  .title-block__subtitle {
    max-width: 590px;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 996px;
    margin: 64px auto;

    @include m.breakpoint(v.$desktop-sm) {
      flex-direction: row;
    }

    .linked-card,
    .benefit-item {
      flex: 1;
    }
  }
}
