@use 'src/styles/mixins' as m;
@use 'src/styles/variables' as v;

.time-scale {
  &__wrapper {
    display: flex;
    margin-top: 32px;
    margin-bottom: 32px;
    background-image: url('./svg/mobile.svg');
    background-repeat: no-repeat;

    @include m.breakpoint(v.$tablet-sm-exact) {
      display: block;
      max-width: v.$tablet-sm-exact;
      margin: 24px auto;
      background-image: url('./svg/desktop.svg');
      background-position-x: center;
    }

    @include m.breakpoint(v.$desktop-sm) {
      width: 890px;
      max-width: unset;
      background-size: contain;

      &-shifted {
        background-image: url('./svg/desktop-shifted.svg');
        background-position-y: 8px;
        background-size: auto;
      }
    }
  }

  &__periods-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 35px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      flex-direction: row;
      margin-left: 5px;
    }

    div:nth-child(2) {
      margin-top: 151px;
      margin-bottom: 172px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        margin: 0 154px;
      }

      @include m.breakpoint(v.$desktop-sm) {
        margin: 0 195px 0 215px;
      }
    }

    &--shifted {
      @include m.breakpoint(v.$desktop-sm) {
        div:nth-child(1) {
          margin-left: 76px;
        }

        div:nth-child(2) {
          margin: 0 163px 0 170px;
        }
      }
    }
  }

  &__period {
    @include m.font-poppins();
    @include m.font-scale(small);

    min-width: 90px;
    margin-bottom: 22px;
    white-space: nowrap;
    color: var(--text-primary);

    span {
      @include m.font-scale(medium);

      font-weight: v.$fw-semi-bold;
    }
  }

  &__items-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: -90px;

    @include m.breakpoint(v.$tablet-sm-exact) {
      flex-direction: row;
      margin-top: 8px;
      margin-left: 8px;
    }
  }

  &__list {
    @include m.font-poppins();
    @include m.font-scale(small);

    min-height: 167px;
    margin-top: 34px;
    margin-left: 35px;
    color: var(--text-primary);

    @include m.breakpoint(v.$phone) {
      width: 282px;
    }

    @include m.breakpoint(v.$tablet-sm-exact) {
      @include m.font-noto-sans();

      min-height: auto;
      margin-top: 0;
    }

    li {
      position: relative;
      width: 240px;
      margin-bottom: 6px;

      @include m.breakpoint(v.$tablet-sm-exact) {
        width: 180px;
      }

      &::before {
        position: absolute;
        top: 8px;
        left: -22px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--text-service);
        content: '';
      }
    }
  }
}
