@import '../variables/typography';

@font-face {
  font-family: 'Roboto Mono';
  font-weight: $fw-regular;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Roboto_Mono/roboto-mono-v31-latin-regular.woff2') format('woff2');
}
